<div class="container">
  <h2>設定</h2>
  <div class="row">
    <div class="col-md-4">
      <h5>メールアドレスの変更</h5>
      <%= form_with model: @user, url: user_registration_path, remote: true do |f| %>
        <%= f.hidden_field :name, value: @user.name %>
        <%= f.email_field :email %>
        <%= f.submit "変更する", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <h5>パスワード</h5>
  <%= link_to '変更する', edit_user_registration_password_path %>
  <h5><%= link_to 'アカウントの削除', '/users', method: :delete, data: { confirm: 'アカウントを削除します。本当によろしいですか？' } %></h5>
</div>