<h2>設定</h2>
<div class="row change_email">
  <div class="col-md-12">
    <h4>メールアドレスの変更</h4>
    <%= form_with model: @user, url: '/users/edit/email', local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: @user %>
      <%= f.hidden_field :name, value: @user.name %>
      <%= f.email_field :email, id: 'change_email' %>
      <%= f.submit "変更する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<div class="row change_password">
  <div class="col-md-4">
    <h4>パスワード</h4>
    <%= link_to '変更する', edit_user_registration_password_path %>
  </div>
</div>
<div class="row delete_account">
  <div class="col-md-4">
    <h4><%= link_to 'アカウントの削除', '/users', method: :delete, data: { confirm: 'アカウントを削除します。本当によろしいですか？' } %></h5>
  </div>
</div>
