<%= render 'layouts/musicpost_tab', musicpost: @musicpost, composer: @composer, instrument: @instrument %>
<div class="row">
  <div class="col-md-12">
    <div class="comment_create">
      <%= form_with(model: @comment, url: comments_path, local:true) do |f| %>
        <%= hidden_field_tag :musicpost_id, @musicpost.id %>
        <%= f.text_area :content, placeholder: "コメントを入力..." %>
        <%= f.submit "コメント", class: "btn btn-primary" %>
      <% end %>
    </div>
    <%= render 'shared/comments_index', comments: @comments, user_name: true %>
  </div>
</div>
