<%= render 'layouts/musicpost_tab', musicpost: @musicpost, composer: @composer, instrument: @instrument %>
<div class="row">
  <div class="col-md-12">
    <div class="comment_create">
      <%= form_with(model: @comment, url: comments_path, local:true) do |f| %>
        <%= hidden_field_tag :musicpost_id, @musicpost.id %>
        <%= f.text_area :content, placeholder: "コメントを入力..." %>
        <%= f.submit "コメント", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="comment_index">
      <% @comments.each do |comment| %>
        <div class="row comment">
          <div class="col-md-1">
            <%= image_tag(comment.user.display_avatar, class:"img_avatar") %>
          </div>
          <div class="col-md-11">
            <div class="comment_header">
              <ul>
                <li><%= link_to comment.user.name, comment.user %></li>
                <li><%= time_ago_in_words(comment.created_at) %>前</li>
                <li>
                  <% if comment.user == current_user %>
                    <%= form_with(model: @comment, url: comment_path, method: :delete, local:true) do |f| %>
                      <%= hidden_field_tag :comment_id, comment.id %>
                      <%= f.button type: "submit", id: "trash_comment" do %>
                        <i class="fas fa-trash"></i>
                      <% end %>
                    <% end %>
                  <% end %>
                </li>
              </ul>
            </div>
            <p class="content"><%= comment.content %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
