<div class="musicpost_stats">
  <div class="musicpost_stat">
    <%= render 'musicposts/favorite_form', musicpost: musicpost %>
    <div class="favorite_count_<%= musicpost.id %>">
      <span><%= musicpost.favorites.size %></span>
    </div>
  </div>
  <div class="musicpost_stat">
    <%= link_to musicpost_path(musicpost) do %>
      <i class="fas fa-comments"></i>
      <span><%= musicpost.comments.size %></span>
    <% end %>
  </div>
  <div class="musicpost_stat">
    <%= render 'shared/trash_musicpost', musicpost: musicpost %>
  </div>
</div>
