<div class="musicpost_index">
  <div class="row musicposts">
    <% musicposts.each do |musicpost| %>
      <div class="col-md-6">
        <div class="musicpost">
          <div class="musicpost_container">
            <div class="row">
              <% unless user_page %>
                <div class="col-md-3 avatar">
                  <%= image_tag(musicpost.user.display_avatar, class:"img_avatar") %>
                </div>
              <% end %>
              <div class="col-md-<%= user_page ? 12 : 9 %>">
                <div class="row title_field">
                  <p class="title"><%= link_to musicpost.title, musicpost %></p>
                </div>
                <div class ="row user">
                  <% unless user_page %>
                    <p>投稿者：<%= link_to musicpost.user.name, musicpost.user %></p>
                  <% end %>
                </div>
                <div class="row musicpost_buttons">
                  <%= render 'shared/play_pause', musicpost: musicpost %>
                  <%= render 'shared/musicpost_stats', musicpost: musicpost %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>