<div class="musicpost_stats">
  <div class="musicpost_stat">
    <i class="fas fa-heart"></i>
    <div class="favorite_count_<%= musicpost.id %>">
      <%= musicpost.favorites.size %>
    </div>
  </div>
  <div class="musicpost_stat">
    <%= link_to musicpost_path(musicpost) do %>
      <i class="fas fa-comments"></i>
      <%= musicpost.comments.size %>
    <% end %>
  </div>
  <div class="musicpost_stat">
    <%= render 'shared/trash_musicpost', musicpost: musicpost %>
  </div>
</div>
