<div class="play_pause_button", id="play_pause_button_<%= musicpost.id %>">
  <div class="select_musicpost_play">
    <%= form_with(url: histories_path, remote: true) do |f| %>
      <%= hidden_field_tag :musicpost_id, musicpost.id %>
      <%= hidden_field_tag :src, "http://#{request.host_with_port}#{url_for(musicpost.audio)}", class: "src" %>
      <%= hidden_field_tag :title, musicpost.title, class: "title" %>
      <%= hidden_field_tag :upload_user, musicpost.user.name, class: "upload_user" %>
      <%= f.button type: "submit" do %>
        <i class="fas fa-play-circle"></i>
      <% end %>
    <% end %>
  </div>
  <div class="select_musicpost_pause">
    <i class="fas fa-pause-circle"></i>
  </div>
</div>