<% provide(:title, '投稿') %>
<div class="row form">
  <div class="col-md-6 mx-auto">
    <h2>アップロード</h2>
    <p>あなたの演奏を配信しましょう</p>
    <%= form_with model: @upload_musicpost, url: upload_musicposts_path, local: true do |f| %>
      <div class="error_messages">
        <% if @upload_musicpost.errors.any? %>
          <p><%= @upload_musicpost.errors.count %>つのエラーがあります。</p>
          <ul>
            <% @upload_musicpost.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div class="field require">
        <%= f.label :audio %>
        <%= f.file_field :audio,  accept: "audio/*" %>
      </div>
      <div class="field require">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div class="field">
        <%= f.label :composer %>
        <%= f.text_field :composer %>
      </div>
      <div class="field">
        <%= f.label :instrument %>
        <%= f.text_field :instrument %>
      </div>
      <div class="field">
        <%= f.label :overview %>
        <%= f.text_area :overview %>
      </div>
      <div class="action">
        <%= f.submit "投稿", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
