<header>
  <nav class = "navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class = "container">
      <%= link_to image_tag("logo2.png", alt:"ロゴ画像"), root_url, id: "logo", class: "navbar-brand" %>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bs-navi" aria-controls="bs-navi" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="bs-navi">
        <ul class = "navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item"><%= link_to "Home", root_url, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "Library", favorites_library_path(current_user), class: "nav-link" %></li>
            <%= render 'shared/search'%>
            <li class="nav-item"><%= link_to "Upload", new_upload_musicpost_path, class: "nav-link" %></li>
            <li class="nav-item">
              <%= link_to notifications_path, class: "nav-link" do %>
                <i class="fas fa-bell fa-lg"></i>
              <% end %>
            </li>
            <li class="nav-item dropdown" >
              <%= link_to '', { class: "dropdown-toggle nav-link", id: "user_navbarDropdown", 'data-toggle': "dropdown" }  do %>
                <%= current_user.name %>
              <% end %>
              <div class="dropdown-menu" aria-labelledby="user_navbarDropdown">
                <%= link_to "プロフィール", current_user, class: "dropdown-item" %>
                <%= link_to "設定", settings_path, class: "dropdown-item" %>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <%= render 'shared/search'%>
            <li class="nav-item"><%= link_to "新規登録", new_user_registration_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "ログイン", new_user_session_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "かんたんログイン", users_easy_login_path, method: :post, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "ENJOY BACKMUSICとは", about_path, class: "nav-link" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>