<div class="row">
  <div class="col-md-3 musicpost_detail_left">
    <%= image_tag(musicpost.user.display_avatar, class:"img_avatar") %>
    <p><%= link_to musicpost.user.name, musicpost.user %></p>
    <% unless musicpost.user == current_user %>
      <%= render 'users/follow_form', user: musicpost.user %>
    <% end %>
    <div class="musicpost_buttons">
      <%= render 'shared/play_pause', musicpost: musicpost %>
    </div>
  </div>
  <div class="col-md-9 musicpost_detail_right">
    <div class="title_field">
      <h2><%= musicpost.title %></h2>
      <%= render 'shared/trash_musicpost', musicpost: musicpost %>
    </div>
    <ul>
      <li><%= "作曲家： #{composer.name}" if composer %></li>
      <li><%= "演奏楽器： #{instrument.name}" if instrument %></li>
      <li><%= "概要： #{musicpost.overview}" unless musicpost.overview.blank?  %></li><br>
      <%= render 'shared/musicpost_stats', musicpost: musicpost %>
      <li class="time"><%= time_ago_in_words(musicpost.created_at) %>前に投稿</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12 user_tab tab">
    <ul>
      <li class="comment_list"><%= link_to "コメント", musicpost_path %></li>
      <li class="memo_list"><%= link_to "メモ", memos_path %></li>
    </ul>
  </div>
</div>