<div class="row">
  <div class="col-md-12 user_information">
    <%= image_tag(user.display_avatar, class:"img_avatar") %>
    <h2><%= user.name %></h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12 user_tab tab">
    <ul>
      <li class="favorites_list"><%= link_to "お気に入り", favorites_user_path %></li>
      <li class="following_list"><%= link_to "フォロー", following_user_path %></li>
      <li class="followers_list"><%= link_to "フォロワー", followers_user_path %></li>
      <li class="comments_list"><%= link_to"コメント", comments_user_path %></li>
    </ul>
  </div>
</div>